@import "system-font-css";

body {
  margin: 0;
}

.backdrop {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 9999999999999998;
  background: rgba(0,0,0,0.2);
  display: none;
}

.main {
  display: block;
  background: #222;
  z-index: 9999999999999999;
  color: white;
  box-shadow: 0 0 100px 30px rgba(0,0,0,0.3);
  border-radius: 4px;
  overflow: hidden;
  width: 500px;
  font-size: 14px !important;
  font-family: system-ui, sans-serif;
}

.main *::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.main *::-webkit-scrollbar-track {
  border-radius: 10px;
}

.main *::-webkit-scrollbar-thumb {
  border-radius: 10px;
  margin: 0 2px;
  background: rgba(255,255,255,.2);
}

.main &*::-webkit-scrollbar-thumb:hover {
  background: rgba(255,255,255,.5);
}

.innerWrap {
  overflow: auto;
}
